{{ procuratorate_name }}
支持起诉书

本院在履职过程中发现{{ work_unit_name }}存在拖欠农民工工资的情形，劳动者因{{ cause_of_action }}向本院申请支持起诉，本院决定受理。本案现已审查终结。

经查，{{ worker_name }}受雇于{{ direct_employer_name }}到涉案单位工作，双方根据用工时间约定劳务费标准，{{ work_unit_name }}制作职工花名册并据此应向{{ worker_name }}支付劳务费，但剩余{{ claim_amount }}元多次催告未得到清偿，{{ worker_name }}向检察机关申请支持起诉。

本院认为，{{ company_name }}及{{ direct_employer_name }}未按照约定支付劳动报酬，损害了劳动者的合法权益。该项目工人均为农民工群体，普遍缺乏相关法律专业知识，具有起诉的意愿但诉讼能力较弱，符合支持起诉条件。现{{ worker_name }}等人主张通过诉讼方式维护自身合法权益，有明确的被告，提出了具体的诉讼请求、事实与理由，{{ court_name }}具有管辖权，符合人民法院受理民事诉讼的范围。根据《中华人民共和国民事诉讼法》第一百二十二条的规定，{{ court_name }}应当受理。

为维护农民工合法权益，本院决定支持起诉。请对该案依法立案、审理，并将裁判结果书面回复本院。

此致
{{ court_name }}

{{ today }}
